<!DOCTYPE html>

<html> 

<head>
    <title> {{title}} </title>
    <link rel = "stylesheet" href ="/css/styles.css">
</head>

<body>

    <div class="main-content"> 

        <header>
            <h1> {{title}} </h1>
        </header>

        <p> Close your eyes. Imagine a blank chess board (no pattern).</p>
        <p> Listen for the coordinate and see the colour placement in your head. </p>
        <p> Click the button for a new coordinate. </p>

        <form>
            <button type="button">Generate New Coordinate</button>
        </form>

        <p id="coordinate">

        </p>

    </div>

    <footer> Created by {{name}} </footer>

    <script src = "/js/app.js"> </script>

</body>

</html>